<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <!-- <p class="paragraph-text justify-text center-align">
                Haoran Zhang
            </p> -->
            <!-- <p class="paragraph-text justify-text center-align">
                MS Computer Science @ University of Southern
            </p> -->
            <p class="paragraph-text justify-text">
                My name is Haoran Zhang. I am studying Computer Science in University of Southern Carolina (USC), Los Angeles and expected to graduate in Dec 2021. 
                Now I am actively seeking software development engineer internship opportunities in summer 2021.
            </p>
            <p class="paragraph-text justify-text">
                I specialize in web development, in both frontend and backend. 
                I am familiar with multiple programming languages, including Python, Java, C++, JavaScript, 
                and I have experiences with different kinds of frameworks including Flask, Angular, Nodejs and React.
                I did an research internship in the Institute of Automation, Chinese Academy of Sciences in 2018, focused on the robotics automation research.
            </p>
        </div>
    </section>
</div>
