<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                HAORAN ZHANG
            </p>
            <p class="paragraph-text justify-text">
                MS Computer Science @ University of Southern
            </p>
            <p class="paragraph-text justify-text">
                My name is Haoran Zhang. I am studying Computer Science in University of Southern Carolina (USC), Los Angeles. I am expected to
                graduate in Dec 2021. Now I am actively seeking software development engineer internship positions in
                summer 2021.
                I did internship in the Institute of Automation, Chinese Academy of Sciences for 3 months in 2018,
                focused on the robotics automation research.
                I studied mechanical and electrical, and robotics automation through my undergraduate degree.
            </p>
        </div>
    </section>
</div>
